html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
  margin: 0;
  padding: 0;
  background: radial-gradient(#030013, #000000);
}

body {
  @apply flex place-content-center place-items-center w-screen h-screen m-0 p-0;
  color: white;
  background: radial-gradient(#030013, #000000);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}